In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [9]:
data=pd.read_csv(r"C:\Users\19692\Downloads\processed_data_mileage.csv")
data.head()
data['class']

0              CUV - Midsize
1              Car - Midsize
2              Car - Midsize
3              CUV - Compact
4              CUV - Compact
                ...
8606    CUV - Midsize Luxury
8607    CUV - Midsize Luxury
8608    CUV - Midsize Luxury
8609    CUV - Midsize Luxury
8610    Car - Compact Luxury
Name: class, Length: 8611, dtype: object

## Question 2: Do different car classes exhibit significant and distinct characteristics across features

Original Question 2 focused on exploring the relationship between different car classes and their resale value. In Phase II,  I feel it is necessary to investigate additional significant characteristics present in different car classes. Phase I's EDA revealed that the average resale price varies among car classes. By gaining a deeper understanding of other characteristics associated with each car class, we can achieve more insightful analysis and better identify car classes. This understanding could be crucial for the final price prediction model, as car class is correlated with price.

### Hypothesis 1: General Resale Price is different across different car class  
This part is same as EDA for original question 2

### Hypothesis 2: Other features like mileage and fuel efficiency could be significant different across different classes

In [71]:
data[['car_class','type']]=data['class'].str.split('-',expand=True)

In [11]:
data_by_class=data.groupby('car_class')

In [73]:
# for quantitative value, their mean, median and std are calculated
mean_stats = data_by_class[['year','price', 'mileage','city_mpg','hwy_mpg','cylinders','owner','Open Recall Check']].mean()
median_stats = data_by_class[['year','price', 'mileage','city_mpg','hwy_mpg','cylinders','owner','Open Recall Check']].median()
std_stats = data_by_class[['year','price', 'mileage','city_mpg','hwy_mpg','cylinders','owner','Open Recall Check']].std()

# print(mean_stats)
print(median_stats)
# print(std_stats)

              year    price  mileage  city_mpg  hwy_mpg  cylinders  owner  \
car_class
CUV         2020.0  24998.0  39000.0      22.0     28.0        4.0    1.0
Car         2019.0  19998.0  46000.0      26.0     35.0        4.0    2.0
Pickup      2020.0  33998.0  42000.0      17.0     22.0        8.0    1.0
SUV         2020.0  36998.0  40000.0      18.0     23.5        6.0    1.0
Sport Car   2019.0  37998.0  31000.0      18.0     27.0        6.0    2.0
Van         2018.0  22998.0  62000.0      19.0     28.0        6.0    2.0

            Open Recall Check
car_class
CUV                       0.0
Car                       0.0
Pickup                    0.0
SUV                       0.0
Sport Car                 0.0
Van                       0.0

In [70]:
# for non-quantative value, the percentage of different one is calculated
total_cars_per_class = data['car_class'].value_counts()

# for damage
damage_counts = data.groupby(['car_class', 'Accident / Damage']).size().unstack(fill_value=0)
damage_percentage = (damage_counts.T / total_cars_per_class).T * 100


# for fuel
fuel_counts=data.groupby(['car_class', 'fuel']).size().unstack(fill_value=0)
fuel_percentage = (fuel_counts.T / total_cars_per_class).T * 100

#for drive type
drive_type_counts=data.groupby(['car_class', 'Drive type']).size().unstack(fill_value=0)
drive_type_percentage = (drive_type_counts.T / total_cars_per_class).T * 100

#for exterior_color
exterior_color_counts=data.groupby(['car_class', 'exterior_color']).size().unstack(fill_value=0)
exterior_color_percentage = (exterior_color_counts.T / total_cars_per_class).T * 100

#for interior_color
interior_color_counts=data.groupby(['car_class', 'interior_color']).size().unstack(fill_value=0)
interior_color_percentage = (interior_color_counts.T / total_cars_per_class).T * 100

#interior_color_percentage.head()
#exterior_color_percentage.head()
#drive_type_percentage.head()
#damage_percentage.head()
#fuel_percentage.head()

interior_color,Black,Blue,Brown,Burgundy,Champagne,Cream,Gray,Green,Maroon,Orange,Red,Tan,Taupe,White
car_class,,,,,,,,,,,,,,
CUV,65.641569,0.212089,4.793213,0.254507,0.127253,3.181336,11.092259,0.000000,0.084836,0.042418,1.739130,11.876988,0.254507,0.657476
Car,65.256346,0.099552,2.239920,0.248880,0.000000,2.538576,15.231458,0.049776,0.000000,0.049776,2.090592,11.697362,0.149328,0.298656
Pickup,66.462481,0.153139,1.684533,0.000000,0.000000,0.153139,28.943338,0.000000,0.000000,0.000000,0.000000,2.603369,0.000000,0.000000
SUV,67.796610,0.363196,5.326877,0.242131,0.121065,1.937046,9.443099,0.000000,0.000000,0.000000,0.605327,13.075061,0.726392,0.363196
Sport Car,72.820513,0.000000,4.102564,0.000000,0.000000,2.051282,2.564103,0.512821,0.000000,0.000000,8.717949,5.128205,0.512821,3.589744